# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Tesodev-Challange.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\furkan\RiderProjects\Tesodev-Challange\.idea\.idea.Tesodev-Challange\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
